html {
  font-size: 55%;
}

@media only screen and (min-width: $desktop-bp) {
  html {
    font-size: 62.5%;
  }
}

body {
  color: $dark-grey;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}
